<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>site-name</title>
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/item-avail.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="navbar">
        <img class="logo" src="/images/logo.png" alt="logo" />
      </div>
      <ul class="nav_links">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="signup_li"><a class="signup" href="/signup">Sign Up</a></li>
        <li class="login_li"><a class="login" href="/login">login</a></li>
      </ul>
    </nav>
  </body>
</html>
