<!-- <%- include('partials/landing-header') %>

<h1>All Order Details</h1>
<br><br><br>

<div>
    orders.forEach(order){
        <h2>Item Name : <%= %></h2>
    }
</div>


<%- include('partials/footer') %> -->