
    <div class="categories_container">
      <div class="ct_header"><h2>Categories</h2></div>
      <div class="categories">
        <a href="#starters" class="ct_btn">starters</a>
        <a href="#main-course" class="ct_btn">Main Course</a>
        <a href="#" class="ct_btn">lorem</a>
        <a href="#" class="ct_btn">lorem</a>
        <a href="#" class="ct_btn">lorem</a>
        <a href="#" class="ct_btn">lorem</a>
        <a href="#" class="ct_btn">lorem</a>
      </div>
    </div>

