<%- include('partials/landing-header') %>

<div class="container">
  <div class="container_1">
    <div class="c_1_l">
      <div class="c_1_l_header">
        <h2>Tiffn service at your doorstep with 6+ years of experience</h2>
        <h3>
          our tiffin service inckude food prepared through various standard
          checks with a quality standard and prepared a few minutes before the
          delivery.
        </h3>
        <div class="explore_menu">
          <a class="explore_menu" href="/login">To Explore Menu Login First</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container_2">
    <div class="features">
      <img src="/images/check.png" alt="" />
      <h3 class="f_t">Quality Check</h3>
      <h4 class="f_d">Food here goes through various quality checks</h4>
    </div>
    <div class="features">
      <img src="/images/Untitled design.png" alt="" />
      <h3 class="f_t">Doorstep Service</h3>
      <h4 class="f_d">
        The food is brought to you safely and with care as it was prepared
      </h4>
    </div>
    <div class="features">
      <img src="/images/Untitled design (2).png" alt="" />
      <h3 class="f_t">Fast Delivery</h3>
      <h4 class="f_d">
        Food delivery is done within short duration after food is prepared
      </h4>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
